body {
	display: flex;
	justify-content: end;
	height: 100%;
	padding: 1rem;
	background-color: var(--background-color);
}

.login-container {
	width: 42rem;
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.language-switch {
	align-self: flex-end;
	background-color: transparent;
	border: none;
	color: #625cff;
	cursor: pointer;
	margin-bottom: 1.25rem;
}

.language-switch:hover {
	text-decoration: underline;
}

.logo img {
	width: 6.25rem;
	display: block;
	margin: 0 auto;
}

.welcome-text {
	text-align: center;
	font-size: 2.25rem;
	/* 36px */
	font-weight: bold;
	margin-top: 1.25rem;
	/* 20px */
	color: #1d1d1f;
}

.subtitle {
	text-align: center;
	font-size: 1rem;
	/* 16px */
	color: #1d1d1f;
	margin-top: 0.625rem;
	/* 10px */
}

.input-label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 0.75rem;
	border: 0.0625rem solid #d5d6d2;
	border-radius: 0.5rem;
	font-size: 0.875rem;
}

.remember-me {
	display: flex;
	align-items: center;
	/* 20px */
	padding: 1rem 0;
}

.remember-me input[type="checkbox"] {
	margin-right: 0.5rem;
	/* 8px */
	width: 1.25rem;
	/* 20px */
	height: 1.25rem;
	/* 20px */
}

.submit-button {
	width: 100%;
	padding: 1rem;
	background-color: #6366f1;
	color: white;
	border: none;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	cursor: pointer;
	transition: background-color 0.3s;
	display: block;
	margin: 0 auto;
}

.submit-button:hover {
	background-color: #4f46e5;
}

.footer {
	text-align: center;
	/* 425px */
	font-size: 0.875rem;
	/* 14px */
	color: #86868a;
}

.login-form {
	padding: 0 4rem;
}

.login-form * {
	margin: 0.5rem 0;
}
